# Pandas Assingment-3

(Based on IPL matches and deliveries dataset)


<a>https://www.kaggle.com/nowke9/ipldata#matches.csv</a>


<a>https://www.kaggle.com/nowke9/ipldata#deliveries.csv<a>

In [0]:
import numpy as np
import pandas as pd
import io
import matplotlib.pyplot as plt
from google.colab import files

In [0]:
uploaded = files.upload()
df1 = pd.read_csv(io.StringIO(uploaded['matches.csv'].decode('utf-8')))
df1.head()

Saving matches.csv to matches.csv

   id  season       city  ...         umpire1        umpire2 umpire3
0   1    2017  Hyderabad  ...     AY Dandekar       NJ Llong     NaN
1   2    2017       Pune  ...  A Nand Kishore         S Ravi     NaN
2   3    2017     Rajkot  ...     Nitin Menon      CK Nandan     NaN
3   4    2017     Indore  ...    AK Chaudhary  C Shamshuddin     NaN
4   5    2017  Bangalore  ...             NaN            NaN     NaN

[5 rows x 18 columns]

In [0]:
uploaded = files.upload()
df2 = pd.read_csv(io.StringIO(uploaded['deliveries.csv'].decode('utf-8')))
df2.head()

Saving deliveries.csv to deliveries.csv

   match_id  inning  ... dismissal_kind fielder
0         1       1  ...            NaN     NaN
1         1       1  ...            NaN     NaN
2         1       1  ...            NaN     NaN
3         1       1  ...            NaN     NaN
4         1       1  ...            NaN     NaN

[5 rows x 21 columns]

## Q1. Find out a City which has hosted most no. of IPL openers i.e first match of a season.

In [0]:
new_df1 = df1.drop_duplicates(subset='season')
new_df1['city'].value_counts().head(3)

Chennai    2
Kolkata    2
Mumbai     2
Name: city, dtype: int64

## Q2. Find out top-3 batsman who has scored most runs against Malinga.

In [0]:
filter_1 = df2[df2['bowler']=='SL Malinga']
filter_1.groupby('batsman').sum().sort_values('batsman_runs',ascending=False).head(3)

             match_id  inning  over  ...  batsman_runs  extra_runs  total_runs
batsman                              ...
JH Kallis       18126     103   535  ...            84           1          85
SR Watson       14386      69   275  ...            81           4          85
BB McCullum     18932     116   453  ...            81           7          88

[3 rows x 13 columns]

## Q3. Make a function to find top bowler(in terms of most wickets) against any team. Take input as team.

In [0]:
## pre- processing of the function
mask_1 = df2['dismissal_kind']=='caught'
mask_2 = df2['dismissal_kind']=='bowled'
mask_3 = df2['dismissal_kind']=='lbw'
mask_4 = df2['dismissal_kind']=='stumped'
mask_5 = df2['dismissal_kind']=='caught and bowled'
mask_6 = df2['dismissal_kind']=='hit wicket'
new_df2 = df2[mask_1 | mask_2 |mask_3 | mask_4 |mask_5 | mask_6]

In [0]:
def bowler_den(b):
  print((new_df2[new_df2['batting_team'] == b])['bowler'].value_counts().head(1))

In [0]:
bowler_den('Royal Challengers Bangalore')

A Nehra    23
Name: bowler, dtype: int64

In [0]:
bowler_den('Kolkata Knight Riders')

B Kumar    22
Name: bowler, dtype: int64

In [0]:
bowler_den('Chennai Super Kings')

Harbhajan Singh    24
Name: bowler, dtype: int64

In [0]:
bowler_den('Mumbai Indians')

DJ Bravo    26
Name: bowler, dtype: int64

## Q4. Write a function which will take team name as input and return it's record of no. occurance in finals and no. of times won.  [Difficult]

ex.-- if team is CSK-- 
CSK in finals-

Played- 8
Won- 3

If any team which has not played in finals like Gujrat Lions

Gujrat Lions in finals-

Played-0

In [0]:
def teamrec(a):
  team_in_final = df1.drop_duplicates(subset='season',keep='last') ## season last match in always a final match
  played = team_in_final[team_in_final['team1']==a].shape[0] + team_in_final[team_in_final['team2']== a].shape[0]
  won = team_in_final[team_in_final['winner']==a].shape[0]
  if (played !=0):
    print("Played-",played,"Won-",won)
  else:
    print("played-",played)

In [0]:
teamrec('Chennai Super Kings')

Played- 6 Won- 2

In [0]:
teamrec('Rising Pune Supergiant')

Played- 1 Won- 0

In [0]:
teamrec('Mumbai Indians')

Played- 4 Won- 3

In [0]:
teamrec('Gujrat Lions')

played- 0

## Q5. Write a function which will take a input as batsman and in output it gives total runs scored against each team. [Medium]

In [0]:
def batsmanrec(a):
  new_df = df2.groupby(['batsman','bowling_team']) ## grouping according to batsman and bowling team
  r = new_df['batsman_runs'].sum()
  print("Scored Against Each Team:\n",r[a])

In [0]:
batsmanrec('DA Warner')

Scored Against Each Team:
 bowling_team
Chennai Super Kings            338
Deccan Chargers                226
Delhi Daredevils               268
Gujarat Lions                  336
Kings XI Punjab                668
Kochi Tuskers Kerala            16
Kolkata Knight Riders          677
Mumbai Indians                 465
Pune Warriors                  118
Rajasthan Royals               231
Rising Pune Supergiant          83
Rising Pune Supergiants         11
Royal Challengers Bangalore    569
Sunrisers Hyderabad              8
Name: batsman_runs, dtype: int64

In [0]:
batsmanrec('RG Sharma')

Scored Against Each Team:
 bowling_team
Chennai Super Kings            535
Deccan Chargers                175
Delhi Daredevils               670
Gujarat Lions                   82
Kings XI Punjab                528
Kolkata Knight Riders          710
Mumbai Indians                 103
Pune Warriors                  135
Rajasthan Royals               403
Rising Pune Supergiant          86
Rising Pune Supergiants         92
Royal Challengers Bangalore    519
Sunrisers Hyderabad            169
Name: batsman_runs, dtype: int64

In [0]:
batsmanrec('MS Dhoni')

Scored Against Each Team:
 bowling_team
Deccan Chargers                281
Delhi Daredevils               419
Gujarat Lions                   83
Kings XI Punjab                453
Kochi Tuskers Kerala            23
Kolkata Knight Riders          387
Mumbai Indians                 581
Pune Warriors                  135
Rajasthan Royals               249
Royal Challengers Bangalore    608
Sunrisers Hyderabad            341
Name: batsman_runs, dtype: int64